/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family-main);
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  min-inline-size: 375px;
  min-block-size: 668px;
  block-size: 100vh;
  padding-inline: 10px;
}

.header__rec {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  right: 20px;
  top: 10px;
}

.header__rec::before {
  content: "rec";
  text-transform: uppercase;
  display: block;
  right: var(--accent-padding-page);
  color: var(--accent-title-color);
  font-size: var(--accent-font-size);
  line-height: 25px;
}

.header__rec::after {
  content: "";
  display: block;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-title-color);
  filter: blur(2px);
}

.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-title-color);
  border-inline-end: 1px solid var(--accent-title-color);
  position: absolute;
  right: 10px;
  top: 10px;
}

.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-title-color);
  border-inline-start: 1px solid var(--accent-title-color);
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.header__theme-menu {
  color: var(--accent-title-color);
  line-height: var(--accent-line-height);
  font-size: var(--accent-font-size);
  min-block-size: 98px;
  block-size: 100%;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  align-self: center;
}

/*

Место для стилей переключателей 

*/

.header__title {
}

.title-style {
  font-size: var(--font-size-mobile-title);
  line-height: 95.7px;
  color: var(--accent-title);
  text-shadow: 4px 4px 0 var(--accent-title-color);
}

.header__subtitle {
  font-size: var(--accent-font-size);
  line-height: 1.463rem;
  font-weight: var(--accent-font-weight-title);
}

.title-decor {
  background-color: var(--accent-title-color);
  color: var(--accent-subtitle-color);
}

.main {
  display: grid;
  gap: 50px;
  font-size: var(--accent-font-size);
  line-height: 23.4px;
  font-family: inherit;
}

.main__title {
  font-size: inherit;
  font-weight: var(--accent-font-weight-title);

  line-height: inherit;
  color: var(--accent-title-color);
}

.main__subtitle {
  font-size: inherit;
  line-height: inherit;
  font-weight: var(--accent-font-weight-title);
}

.main__text {
  padding-block-start: var(--accent-padding-page);

  line-height: inherit;
  color: var(--accent-color-text);
}

.article {
  padding-top: 20px;
}

section > .main__text:not(:last-child) {
  padding-block-end: 1.25rem;
}

.main__how > .main__subtitle + .main__subtitle {
  margin-block-start: 20px;
}

.main__how > .main__subtitle:nth-child(2n + 1) {
  font-weight: var(--accent-font-weight-text);
}

.gallery {
  display: grid;
  gap: 10px;
  padding-block-start: 10px;
}

.gallery__image {
  inline-size: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
}
