/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  gap: 49px;
  padding-block-start: var(--accent-padding-page);
  padding-inline: var(--accent-padding-page);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family-main);
}

.header {
  display: grid;
  position: relative;
}

.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-title-color);
  border-inline-end: 1px solid var(--accent-title-color);
  justify-self: self-end;
}

.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-title-color);
  border-inline-start: 1px solid var(--accent-title-color);
  align-self: self-end;
}

.decorate-element {
  position: absolute;
  right: var(--accent-padding-page);
  color: var(--accent-title-color);
  font-size: var(--accent-font-size);
  line-height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.decorate-element::after {
  content: '';
  block-size: 0.563rem;
  inline-size: 0.563rem;
  border-radius: 50%;
  background-color: var(--accent-title-color);
  filter: blur(2px);
}

.header__theme-menu {
  justify-self: end;
  color: var(--accent-title-color);
  line-height: var(--accent-line-height);
  font-size: var(--accent-font-size);
  padding-block-start: 2.438rem;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  text-align: center;
  block-size: 100%;
  inline-size: 100%;
}

.header__theme-menu-button {
  block-size: 1.625rem;
  inline-size: 4.375rem;
  background-color: transparent;
  border-color: transparent;
}

/*

Место для стилей переключателей 

*/

.header__title {
  padding-block-start:4.063rem;
  padding-block-end: 3.438rem;
}

.title-style {
  font-size: var(--font-size-mobile-title);
  line-height: 95.7px;
  color: var(--accent-title);
  text-shadow: 4px 4px 0 var(--accent-title-color);
}

.header__subtitle {
  font-size: var(--accent-font-size);
  line-height: 1.463rem;
  font-weight: var(--accent-font-weight-title);
  margin-block-end: 33px;

}

.title-decor {
  background-color: var(--accent-title-color);
  color: var(--accent-subtitle-color);
}

.main {
  display: grid;
  gap:50px;
  font-size: var(--accent-font-size);
  line-height: 23.4px;
  font-family: inherit;
}

.main__title {
  font-size: inherit;
  font-weight: var(--accent-font-weight-title);
  padding-block-end: 1.25rem;
  line-height: inherit;
  color: var(--accent-title-color);
}

.main__subtitle {
  font-size: inherit;
  line-height: inherit;
  font-weight: var(--accent-font-weight-title);
}

.main__text {
  padding-block-start: var(--accent-padding-page);
  
  line-height: inherit;
  color: var(--accent-color-text);
}

section > .main__text:not(:last-child) {
  padding-block-end: 1.25rem;
}

.main__how > .main__subtitle + .main__subtitle {
  margin-block-start: 20px;
}

.main__how > .main__subtitle:nth-child(2n+1) {
  font-weight: var(--accent-font-weight-text);
}


.gallery {
  display: grid;
  gap:10px;
  padding-block-start: 10px;
}

.gallery__image {
  inline-size: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;

}


@media (width >= 768px) {

.page {
  padding-block-start: 20px;
  padding-inline: 20px;
  gap: 80px;
}

.header {
  grid-template-rows: 1fr min-content 1fr;
  
  
}

.header__title {
  font-size: var(--font-size-desktop-title);
  padding-block-start: 149px;
  margin-inline-start: -20px;
}

.header__theme-menu {
  margin-block-start: -170px;
}

.header__subtitle {
  inline-size:50%;
  margin-block-start: 105px;
  justify-self: end;
}

.decorated-zone::after {
  margin-block-start: 105px;
  
}

.main__why {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.main__why > .main__title {
  grid-row: span 3;
}

.main__subtitle {
  block-size: min-content;
}





}