/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family-main: "IBM Plex mono", sans-serif;
  --bg-image: url(../images/cover-image-dark.png);
  --padding-inline: 10px;
  --font-size-article-text: 18px;
  --accent-font-weight-text: 400;
  --accent-font-weight-title: 700;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --menu-button-hover: rgba(255, 0, 112, 0.4);
  --title-shadow: var(--accent-color);
  --subtitle-background-color: var(--accent-color);
  --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --padding-inline: 20px;
    --font-size-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
